div.clear {
  display: flex;
  justify-content: center;

  button {
    margin-top: 40px;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(146, 205, 172);
    border-width: 1px;
    font-size: 18px;
    height: 32px;
    color: rgb(110, 199, 149);
    font: normal 15px gill sans, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }

  button:hover {
    background-color: rgb(237, 255, 226);
    transition: 0.5s;
  }
}
