div.input-todo {
  display: flex;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-width: 1px;
    border-color: rgb(146, 205, 172);
    border-style: solid;
    flex-grow: 1;
    max-width: 582px;
    font-size: 20px;
    padding: 6px;
    font: normal 15px gill sans, sans-serif;
    height: 20px;
    padding-left: 10px;
  }

  input:focus {
    background-color: white;
    outline: none;
  }

  button {
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: rgb(146, 205, 172);
    border-width: 1px;
    border-left-width: 0px;
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(110, 199, 149);
    font: normal 15px gill sans, sans-serif;
  }
  button:hover {
    background-color: rgb(237, 255, 226);
    transition: 0.5s;
  }

  select {
    border-style: none;
    font-size: 22px;
    background-color: rgb(146, 205, 172);
  }
}
