div.todo-item {
  display: flex;
  width: auto;
  justify-content: center;
  padding-top: 12px;
  flex-wrap: wrap;
  align-items: center;

  .todo-edit {
    border-width: 0px;
    border-style: none;
    max-width: 575px;
    font-size: 20px;
    padding: 5px;
    flex-grow: 1;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    margin-right: 10px;
    font: normal 22px gill sans, sans-serif;
  }

  .todo-edit:focus {
    background-color: white;
    border-radius: 10px;
    border-color: white;
    outline: none;
  }

  .delete-button {
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(197, 58, 50, 0.5);
    height: 20px;
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    vertical-align: bottom;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 3px;
    filter: saturate(50%);
    border-color: rgba(197, 58, 50, 0.5);

    .button-text {
      position: relative;
      top: -3px;
    }
  }

  .delete-button:hover {
    background-color: rgb(255, 219, 219);
    transition: 0.5s;
    filter: saturate(150%);
    color: rgb(197, 58, 50);
    border-color: rgb(197, 58, 50);
  }

  .edit-button {
    background-color: rgb(245, 245, 245);
    border-style: none;
    border-radius: 10px;
    border-color: rgb(83, 178, 223);
    font-size: 20px;
    color: rgb(83, 178, 223);
    height: 20px;
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 3px;

    .button-text {
      position: relative;
      top: -3px;
    }
  }

  .edit-button:hover {
    background-color: rgb(231, 237, 255);
    transition: 0.5s;
  }

  select {
    border-style: none;
    border-radius: 5px;
    font-size: 22px;
    background-color: rgb(146, 205, 172);
  }

  .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 23px;
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 5px;

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: rgb(245, 245, 245);
      border-style: solid;
      border-color: rgb(146, 205, 172);
      border-width: 2px;
      border-radius: 20px;
      font-size: 5px;
    }

    input:checked ~ .checkmark {
      border-color: green;
    }

    .checkmark:hover {
      background-color: rgb(237, 255, 226);
      border-color: green;
      transition: 0.5s;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid green;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      display: block;
      opacity: 30%;
      transition: 0.5s;
    }

    .checkmark:hover:after {
      opacity: 100%;
      transition: 0.5s;
      border-color: green;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
      opacity: 100;
      transition: 0.5s;
      animation-name: rotate;
      animation-duration: 0.5s;
    }

    @keyframes rotate {
      0% {
        transform: rotate(45deg) scale(1);
        animation-timing-function: linear;
      }
      50% {
        transform: rotate(225deg) scale(3);
        animation-timing-function: linear;
      }
      100% {
        transform: rotate(405deg) scale(1);
      }
    }
  }
}

div.todo-item-animate {
  display: flex;
  width: auto;
  justify-content: center;
  padding-top: 12px;
  flex-wrap: wrap;
  align-items: center;
  animation-name: slide;
  animation-duration: 1s;

  @keyframes slide {
    0% {
      transform: translate(0px, -50px);
      animation-timing-function: linear;
    }
    50% {
      transform: scale(1.1);
      animation-timing-function: linear;
    }
    100% {
      transform: translate(0px, 0px);
      animation-timing-function: linear;
    }
  }

  @keyframes fade-background {
    0% {
      background-color: white;
    }
    100% {
      background-color: rgb(245, 245, 245);
    }
  }

  .todo-edit {
    border-width: 0px;
    border-style: none;
    max-width: 575px;
    font-size: 20px;
    padding: 5px;
    flex-grow: 1;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    margin-right: 10px;
    font: normal 22px gill sans, sans-serif;
    animation-name: fade-background;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .todo-edit:focus {
    background-color: white;
    border-radius: 10px;
    border-color: white;
    outline: none;
  }

  .delete-button {
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(197, 58, 50, 0.5);
    height: 20px;
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    vertical-align: bottom;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 3px;
    filter: saturate(50%);
    border-color: rgba(197, 58, 50, 0.5);
    animation-name: fade;
    opacity: 0%;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .button-text {
      position: relative;
      top: -3px;
    }
  }

  .delete-button:hover {
    background-color: rgb(255, 219, 219);
    transition: 0.5s;
    filter: saturate(150%);
    color: rgb(197, 58, 50);
    border-color: rgb(197, 58, 50);
  }

  .edit-button {
    background-color: rgb(245, 245, 245);
    border-style: none;
    border-radius: 10px;
    border-color: rgb(83, 178, 223);
    font-size: 20px;
    color: rgb(83, 178, 223);
    height: 20px;
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 3px;
    animation-name: fade;
    opacity: 0%;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .button-text {
      position: relative;
      top: -3px;
    }
  }

  .edit-button:hover {
    background-color: rgb(231, 237, 255);
    transition: 0.5s;
  }

  select {
    border-style: none;
    border-radius: 5px;
    font-size: 22px;
    background-color: rgb(146, 205, 172);
  }

  .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 23px;
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 5px;
    animation-name: fade;
    opacity: 0%;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: rgb(245, 245, 245);
      border-style: solid;
      border-color: rgb(146, 205, 172);
      border-width: 2px;
      border-radius: 20px;
      font-size: 5px;
    }

    input:checked ~ .checkmark {
      border-color: green;
    }

    .checkmark:hover {
      background-color: rgb(237, 255, 226);
      border-color: green;
      transition: 0.5s;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid green;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      display: block;
      opacity: 30%;
      transition: 0.5s;
    }

    .checkmark:hover:after {
      opacity: 100%;
      transition: 0.5s;
      border-color: green;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
      opacity: 100;
      transition: 0.5s;
      animation-name: rotate;
      animation-duration: 0.5s;
    }

    @keyframes rotate {
      0% {
        transform: rotate(45deg) scale(1);
        animation-timing-function: linear;
      }
      50% {
        transform: rotate(225deg) scale(3);
        animation-timing-function: linear;
      }
      100% {
        transform: rotate(405deg) scale(1);
      }
    }
  }
}

@keyframes fade {
  0% {
    animation-timing-function: linear;
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    animation-timing-function: linear;
  }
}

svg {
  transform: scale(1.2);
  margin-right: 8px;
  margin-left: 8px;
  opacity: 50%;
}

svg:hover {
  opacity: 100%;
  transition: 0.5;
  filter: saturate(150%);
}
