body {
  font: normal 18px gill sans, sans-serif;
  background-color: rgb(245, 245, 245);
  --custom-green-color: brown;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 26px;
}

#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}